* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(62, 62, 132);
    text-align: center;
}
header{
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.731);
}

footer {
    color: white;
    text-align: center;
    font-style: italic ;
}

select {
    width: 200px;
    height: 200px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.731);
}